.MuiCheckbox-checked-364 {
  color: rgb(226, 142, 32) !important;
}

.EnhancedTable-root-328 {
  background-color: #F7F4E9 !important;
  border: rgba(0, 0, 0, 0.85) !important;
  border-width: 2px !important;
}

#enhanced-table svg {
  color: rgb(226, 142, 32);
}

.paginator svg {
  margin-left: 55%;
}